body{
    height:100%;
}

#topbar {
    width:100%;
    height: 60px;
    background-color: hsl(96, 70%, 20%);
}

#bottom_bar {
    padding:10px;
    text-align:center;
    width:100%;
    height: 20px;
    background-color: grey;

}


#header_div {
    position: relative;
    width: 65%;
    margin: auto;


}

#name_div {
    position: fixed;
    top:10px;
    padding:15px;
    float: left;
    background-color: aquamarine;

  
}

#links_div {
    float: right
    
}

#about_me{
    padding: 5px;
    width: 250px;
    height:auto;
    background-color: hsl(96, 70%, 20%);

}

#body_content {
    width:400px;
    margin:auto;
}

#prof_pic {
    width: 40%;
    height: 50%;
    float: left;
    
}

#copyright {
    padding: 5px;
    text-align: center;
    width:100%;
    background-color: hsl(96, 70%, 20%);
}
